@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background-color: black;
    color: white;
    margin:0px 100px 0px 100px;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    justify-content: center;
}